project_name_dev="Development"
project_description_dev="Development Resources"
project_environment_dev="Development"
project_purpose_dev="Development Only"
project_name_stage="Staging"
project_description_stage="Staging Resources"
project_environment_stage="Staging"
project_purpose_stage="Staging Only"
project_name_prod="Production"
project_description_prod="Production Resources"
project_environment_prod="Production"
project_purpose_prod="Production Only"